body {
  background-image: url("../img/background2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color:#1F2021ff;

}
a:link {
  color: rgb(151, 78, 9);
  text-decoration-line: underline;
}

a:visited {
  color: #F0B574ff
}

.outside {
  display: flex;
}

.first_inner_div {
  display: flex;
  margin: auto;
  margin-top: 3rem;
  width: 650px;
  height: 550px;
  border-radius: 5px;
  background: rgba(225,225,225,.5);
  box-shadow: 0 4.5px 12px rgb(231, 210, 210), 0 4.5px 12px rgb(24, 22, 22);
}


.second_inner_div {
  padding: 1rem;
} 

.second_inner_div h1 {
  text-align: center;
  color: #E68328ff;
  text-shadow: 1px 1px 3px black;

}
.second_inner_div h3 {
  text-align: center;
  color: #E68328ff;
  text-shadow: 1px 1px 3px black;

}
.second_inner_div h4 {
  text-align: center;
  color: #E68328ff;
  text-shadow: 1px 1px 3px black;

}

.second_inner_div h2 {
  text-align: center;
  color: #E68328ff;
  text-shadow: 1px 1px 3px black;

}

.outer_navigation_bar {
  display: flex;
  margin: auto;
}

header {
  flex-grow: 0; 
}

.please_move {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.please_move form {
  margin-top: -0.6rem;
}

.please_move p {
  color: #F0B574ff;
}

.navigation_bar {
  margin-top: 10rem;
  margin: auto;
  width: 650px;
  height: 90px;
  background: #E9C6A4ff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0 4.5px 12px rgb(24, 22, 22), 0 4.5px 12px rgb(24, 22, 22);
}

.navigation_bar header {
  font-size: 5rem;
  color: #E68328ff;
  text-align: center;
  line-height: 4.5rem;
  background: #E9C6A4ff;
  user-select: none;
  border-radius: 2px;
}

.navigation_bar .link {
  font-size: large;
  padding-top: 2rem;
}


.link {
  font-size: 1rem;
  font-weight: 500;
  padding-top: 40px;
  color: #F0B574ff;
}  

.link :hover {
  color: #E9C6A4ff;
}

.everything {
  display: flex;
}